/*этому нас научил наставник. Я решил, что переменная уместна, т.к. настройка повторяется.*/
:root {
  --overlay: linear-gradient(rgba(0, 0, 0, 0.6));
}

/*header*/
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 96px 50px;
}
.header__menu {
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 36px;
}

.link-active {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  font-size: 18px;
  line-height: 24px;
}

.header__address {
  justify-self: end;
  display: flex;
  flex-direction: column;
}

/* Блок обложики */

.cover {
  display: flex;
  flex-direction: column;
  min-height: 757px;
  background-image: var(--overlay), url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
}

.aligned-text {
  margin: 165px 50px 106px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 17px;
  font-size: 100px;
  color: white;
  text-transform: capitalize;
  letter-spacing: 30px;
}

.aligned-text_center {
  align-self: center;
  margin-right: -31px;
}

.aligned-text_right {
  align-self: flex-end;
  margin-right: -30px;
}

.description {
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

.description__text {
  align-self: center;
  word-spacing: 18px;
}

.bet-button {
  padding: 11px 31px;
  border: 1px solid currentColor;
  word-spacing: 1px;
}
/*Блок с карточками*/

.lots {
  display: flex;
  flex-direction: column;
  margin: 180px 24px 120px;
}

.lots-title {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: var(--overlay), url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: var(--overlay), url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: var(--overlay), url(../images/card-lot-03.jpg);
}

.card-title {
  justify-self: flex-start;
  font-size: 22px;
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-text {
  justify-self: flex-end;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.lots__link {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 24px;
}

/*Секция about*/

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  max-width: 1052px;
  margin: 0px 24px 180px;
}

.about__logo {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  background-color: black;
  border-radius: 50%;
}

.about__image {
  width: 148px;
  height: 114px;
}

.about__column {
  margin: 133px 0px 0px;
  padding-left: 1px;
}

.about__title {
  margin: 3px 24px 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text-conteiner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 24px;
}

.about-text {
  font-size: 20px;
  line-height: 24px;
}

/*Второй абзац никак не хочет вставать по макету... Видно, дух машины гневается.*/

.about-text-acsent {
  display: block;
  margin-right: 24px;
}

/*footer*/

.footer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
}

.footer__address {
  place-self: start;
  display: flex;
  flex-direction: column;
  margin-bottom: 82px;
  margin-left: 50px;
}

.footer__menu {
  place-self: start;
  width: 200px;
  font-size: 18px;
}

.footer__menu-links-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
}

.link__active {
  text-decoration: none;
}

.footer__social-list-item {
  justify-self: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: start;
  width: 240px;
  margin-right: 50px;
  list-style: none;
}

.social-link-image {
  width: 48px;
  height: 48px;
}
